$background: linear-gradient(to right top, #051937, #16275f, #3b3285, #6b36a8, #a32fc3);;
$dashboardBackground: #20273E;
$dashboardForeground: radial-gradient(circle, #20273e, #272e46, #2e364f, #363d57, #3d4560);
$dashboardDivider:darken($dashboardBackground,4%);
$searchInputColor: darken($dashboardBackground,6%);
$movieWrapperColor: darken(#2c2c54,9%);
$textColor: #f7f1e3;
$formTextColor: $textColor;
$paginationTextColor: rgb(220, 222, 228);

html,body{
  margin: 0;
  padding:0;
  height:100vh;
  background: $background; 
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container{
  color:$textColor;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dashboard{
  border:3px solid $dashboardDivider;
  margin: 0;
  height:90vh;
  width:80%;
  border-radius: 20px;
  overflow: hidden;
}

// ------------------------------------------ Search bar ----------------------------------------

.search-bar, .menu{
  background: $dashboardBackground;
}

.search-bar{
  width:100%;
  height:15%;
  border-bottom: 1.5px solid $dashboardDivider;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form{
  width:30%;
  position: relative;
  text-align: center;
  margin-right: 60px;
}

.form input{
  all:none;
  background: $searchInputColor;
  border:none;
  border-radius: 30px;
  padding:10px 35px 10px 15px;
  color:$formTextColor;
  width:90%;
}

.form input::placeholder{
  color:$formTextColor;
}

.search-icon{
  position: absolute;
  top:7px;
  right: -5px;
}

// ------------------------------- Menu ------------------------------------------

.menu{
  width:20%;
  height:85%;
  float:left;
  overflow-y: auto;
}

.menu ul{
  list-style-type: none;
}

.menu ul li {
  margin-left:0px;
  padding-top:10px;
  padding-bottom: 10px;
  transition: margin-left .2s;
}

.menu ul li:hover{
  cursor: pointer;
  margin-left: 10px;
}

// ------------------------------------- Dashboard -----------------------------------

.dashboard-content{
  background:$dashboardForeground;
  width: 80%;
  height:85%;
  float:right;
  overflow-y: auto;
}

.dashboard-content h1{
  text-align: center;
}

.movie-container{
  margin: 10px auto;
  width:95%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.dashboard-content-movie{
  flex: 0 1 auto;
  width:20%;
  margin:20px;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  height: auto;
  background: $movieWrapperColor;
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

.dashboard-content-movie img{
  width:100%;
}


// ---------------------- Pagination -----------------------------------

.pagination{
  width:30%;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 30px auto;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  //background: lighten($dashboardBackground, 10%);
}

.itemClass{
  padding:12px;
}

.activeClass{
  background: lighten($dashboardBackground, 5%);
}


.linkClass{
  color: $paginationTextColor;
  text-decoration: none;
}

// ---------------------------- Custom Scrollbar -----------------------------------------

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}